html {
    height: 100%;
}

body {
    /*    background-color: #54ADDF;*/
    color: white;
    font-family: 'Inter', sans-serif;
}

.index {
    background-color: #0074D9;
}

h1 {
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    /*    transform: translateX(-50%) translateY(-50%);*/
    /*    font-family: 'Inter', sans-serif;  */
}

li {
    font-family: monospace;
    font-size: 16px;
}

p {
    font-family: monospace;
    font-size: 16px;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    transition: width 2s, height 2s;
}

.bigger {
    height: 200px;
    width: 200px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

/*page 1*/
.details {
    display: none;

}

/*
a {
    color: white;
    text-decoration: none;
}
*/
.details a {
    color: white;
    text-decoration: none;
}

.details a:hover {
    color: crimson;
}


/*page 2*/

/*
.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 128px;
*/


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: auto;
}

.left-1 {
    left: 0;
    background-color: #0074D9;
    cursor: help;
}

.right-1 {
    right: 0;
    background-color: #5c9a1c;
    cursor: help;
}

.left-2 {
    left: 0;
    background-color: mediumseagreen;
    padding-top: 50px;
    margin-bottom: 50px;
}

.right-2 {
    right: 0;
    background-color: darkturquoise
}

.left-3 {
    left: 0;
    background-color: black;
}

.right-3 {
    right: 0;
    background-color: darkblue;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered a {
    color: white;
    text-decoration: none;
}

.centered a:hover {
    cursor: help;
    color: darkgrey;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*page 3*/

/*end*/
.end {
    width=100%;
    background-image: linear-gradient(180deg, red, orange);
}

.end p {
    text-align: center;
}

.end h2 {
    margin-left: 2%;
    margin-top: 2%;
}

.future-button {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.back-button {
    height: 100px;
    width: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
}

.end-left {
    margin-top: 50px;
    left: 0;
}

.end-right {
    right: 0;
    margin-top: 50px;
}